.api-create-outer {
  padding: 20px 30px;
}

.api-create-nav {
  font-size: 0.875rem;
}

.breadcrumb {
  background-color: #f4f6f8;
  padding-left: 0;
  padding-bottom: 0.25rem;
  margin-bottom: 0;
}

.api-create-title {
  font-size: 24px;
  line-height: 100%;
  color: #3B444F;
  margin-top: 30px;
}

.api-create-form {
  margin-top: 20px;
}

.form-model-version {
  margin-top: 32px;
}

.select-default {
  color: #9299A3;
}

.api-url {
  padding-top: 10px !important;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.toast-style {
  margin-top: 20px;
  text-align: center;
}
