.api-edit-outer {
  padding: 20px 30px;
}

.api-edit-nav {
  font-size: 0.875rem;
}

.breadcrumb {
  background-color: #f4f6f8;
  padding-left: 0;
  padding-bottom: 0.25rem;
  margin-bottom: 0;
}

.api-edit-title {
  font-size: 24px;
  line-height: 100%;
  color: #3B444F;
  margin-top: 10px;
}

.api-edit-status {
  margin-left: 10px;
  margin-right: 10px;
}

.header-info {
  font-size: 0.875rem;
  margin-top: 5px;
}

.error-message-title {
  font-size: 0.875rem;
  color: #9299A3;
}

.error-message-detail {
  font-size: 0.875rem;
  color: #BF0000;
}

.header-info-text {
  color: #9299A3;
  margin-right: 8px;
}

.header-action {
  padding: 6px 12px;
  background: #FFFFFF;
  border: 1px solid #DFE2E6;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 0.875rem;
}

.header-action-text {
  color: #9299A3;
  margin-right: 8px;
}

.api-create-form {
  margin-top: 20px;
}

.form-model-version {
  margin-top: 32px;
}

.select-default {
  color: #9299A3;
}

.api-url {
  padding-top: 10px !important;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.toast-style {
  margin-top: 20px;
  text-align: center;
}

.delete-style {
  color: #BF0000;
}
