.api-list-outer {
  padding: 20px 16px;
}

.header-text {
  padding-top: 6px;
  font-size: 1.125rem;
}

.header-text-count {
  margin-left: 5px;
  color: #9299A3;
}

.header-btn {
  float: right;
}

.header-btn-img {
  padding-bottom: 3px;
}

.api-list-body {
  margin-top: 10px;
}

.api-border {
  margin-bottom: 20px;
}

.api-header {
  padding: 0.5rem 0.75rem;
}

.api-header-status {
  float: right;
  line-height: 20px;
}

.api-body {
  padding: 0.6rem 1.25rem;
  color: #9299A3;
}

.access-url {
  font-size: 0.875rem;
}

.api-desc {
  font-size: 0.875rem;
}

.api-info {
  font-size: 0.75rem;
}

.api-version {
  float: left;
}

.api-refresh {
  float: right;
}
