.stats-outer {
  padding: 20px 30px 0;
}

.stats-inner {
  padding: 2rem 1rem;
}

.favourite-outer {
  padding: 0 30px;
}

.model-outer {
  margin-top: 10px;
}

.model-border {
  margin-bottom: 15px;
}

.model-header {
  padding: 0.5rem 0.75rem;
}

.model-body {
  padding: 0.6rem 1.25rem;
  color: #9299A3;
}

.model-desc {
  font-size: 0.875rem;
}

.model-info {
  font-size: 0.75rem;
}

.model-version {
  float: left;
}

.model-refresh {
  float: right;
}
