.model-detail-outer {
  padding: 20px 30px;
}

.model-detail-nav {
  font-size: 0.875rem;
}

.breadcrumb {
  background-color: #f4f6f8;
  padding-left: 0;
  padding-bottom: 0.25rem;
  margin-bottom: 0;
}

.model-detail-content {
  margin-top: 20px;
  background: #FFFFFF;
  border: 1px solid #DFE2E6;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px;
}

.model-detail-content-header {

}

.content-header-title {
  font-size: 1.125rem;
  color: #3B444F;
  margin-bottom: 8px;
}

.content-header-info {
  font-size: 0.875rem;
}

.content-header-info-text {
  color: #9299A3;
  margin-right: 8px;
}

.content-header-btn-outer {
  padding-top: 7px;
}

.content-header-btn-img {
  padding-bottom: 3px;
}

.content-header-btn-text {
  font-size: 0.875rem;
}

.model-detail-content-body {
  margin-top: 25px;
}

.model-detail-info-outer {
  padding: 20px 0;
  font-size: 0.875rem;
}

.model-detail-metrics-outer {
  padding: 20px 0;
  font-size: 0.875rem;
}
