.model-list-outer {
  padding: 20px 30px;
}

.model-list-title {
  font-size: 1.125rem;
}

.model-list-title-count {
  color: #9299A3;
}

.model-outer {
  margin-top: 20px;
}

.model-border {
  margin-bottom: 15px;
}

.model-header {
  padding: 0.5rem 0.75rem;
}

.model-body {
  padding: 0.6rem 1.25rem;
  color: #9299A3;
}

.model-desc {
  font-size: 0.875rem;
  margin-bottom: 5px;
}

.model-info {
  font-size: 0.75rem;
}

.model-version {
  float: left;
}

.model-refresh {
  float: left;
}
