/* ==========================================================================
   Color variables
   ========================================================================== */

/* Neutral colors
   ========================================================================== */

$white: #ffffff;
$gray-0: #f4f6f8; //background
$gray-light: #f3f3f3;
$gray-opacity-0: #f4f6f81a;
$gray-1: #e6e9ed;
$gray-2: #dfe2e6; //input, card borders
$gray-3: #d8dde3;
$gray-4: #b6bdc5;
$gray-5: #9299a3; //gray text
$gray-6: #636c77;
$gray-7: #3b444f; //dark text
$green-2: #78bc5c;
$green-4: #78bc5c;
$green-5: #5a9e3e;
$dark: #1e2631;
$darkest: #000813;
$blue: #3498db;
$blue-2: #64a8e8;
$blue-4: #3380de;
$blue-5: #0959ba;
$rakuten-crimson: #bf0000;
$red-4: #d35028;
$orange-pending: #ffc107;

/* Ocean
   ========================================================================== */
$ocean-0: #ebf1f7;
$ocean-1: #d6e1ed;
$ocean-2: #6b87a8;
$ocean-3: #4d698a;
$ocean-4: #335680; //theme color for datalab
$ocean-5: #112d4e;

/* ==========================================================================
   Spacing variables
   ========================================================================== */

$gap-s: 10px;
$gap-m: 20px;
$gap-l: 40px;

/* ==========================================================================
   Border radius variables
   ========================================================================== */
$radius-s: 2px;
$radius-m: 4px;
$radius-l: 8px;
