.resource-bar {
  height: 8px;
}

.resource-bar__message {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 14px;
  font-size: 12px;
  color: #9299a3;
  margin-top: 2px;
}
